.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    width: 325px;
    height: 325px;
    border: 7px solid rgba(0, 0, 0, 0.1);
    /*mask-image: radial-gradient(circle at, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 8%);*/
   /* mask-image: radial-gradient(circle at center, red 0, blue, green 100%);
/*    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 8%);
*/
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}